<%- include('../layouts/Users-Cabecera.ejs') %>



<%- include('../partials/errors.ejs') %>

<br><br><br><br><br>
<div class="container">
  <form action="/users/signin" method="post">
    <h1>Iniciar Sesión</h1>
    <div class="form-group">
      <input type="email" name="email" placeholder="Correo Electrónico" required>
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Contraseña" required>
    </div>
    <button type="submit">Iniciar Sesión</button>
    <a href="/users/signup" class="btn">Registrarse</a>
    <a href="/users/forgot-password" class="centered-link">Olvidaste tu Contraseña</a>
  </form>
</div>




<%- include('../layouts/Users-Pie.ejs') %>
