<h1>Registro</h1>
<form action="/users/signup" method="post">
  <input type="text" name="name" placeholder="Nombre" required>
  <input type="email" name="email" placeholder="Correo Electr칩nico" required>
  <input type="password" name="password" placeholder="Contrase침a" required>
  <input type="password" name="confirm_password" placeholder="Confirmar Contrase침a" required>
  <button type="submit">Registrarse</button>
</form>
<a href="/users/signin">Iniciar Sesi칩n</a>
